@import url(./animations.scss);

html {
  margin-left: calc(100vw - 100%);
}
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.lh-1 {
  line-height: 1;
}